<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string> SSDT-pr.aml</string>
		</array>
	</dict>
	<key>Author</key>
	<string>xenatt</string>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=3 kext-dev-mode=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
		<key>UseARTFrequency</key>
		<true/>
	</dict>
	<key>Description</key>
	<string>Mac OS X Yosemite Login Style</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>5</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Windows 10</string>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>/EFI/CLOVER/themes/YosemiteLogin/icons/os_win.icns</string>
					<key>Path</key>
					<string>\EFI\Microsoft\Boot\bootmgfw.efi</string>
					<key>Type</key>
					<string>Windows</string>
					<key>Volume</key>
					<string>32429376-7A94-49EB-BAB3-EEFA30957853</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Mac OS</string>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>/EFI/CLOVER/themes/YosemiteLogin/icons/os_mav.icns</string>
					<key>NoCaches</key>
					<false/>
					<key>Path</key>
					<string>\System\Library\CoreServices\boot.efi</string>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>9EAF7D65-5B74-4B28-9C99-578DEB4C4875</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Ubutun</string>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>/EFI/CLOVER/themes/YosemiteLogin/icons/os_linux.icns</string>
					<key>Path</key>
					<string>\EFI\ubuntu\grubx64.efi</string>
					<key>Type</key>
					<string>Linux</string>
					<key>Volume</key>
					<string>32429376-7A94-49EB-BAB3-EEFA30957853</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>Recovery HD</string>
					<key>Hidden</key>
					<true/>
					<key>Ignore</key>
					<false/>
					<key>Image</key>
					<string>/EFI/CLOVER/themes/YosemiteLogin/icons/os_recovery.icns</string>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>2560x1440</string>
		<key>Theme</key>
		<string>YosemiteLogin</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x59120000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>FakeCPUID</key>
		<string>0x0506E3</string>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g72M/v//EA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g72M/v//Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (100-series)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g710////EA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g710////Gw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.11.4 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				QTnEdio=
				</data>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				QTnE6yo=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.12.0 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iUXIOcZ2UQ==
				</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				iUXIOcbrUQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>eDP, port 0000, 0x191e0000, 0x19160000, 0x19260000, 0x19270000, 0x191b0000, 0x19160002, 0x19260002, 0x191e0003, 0x19260004, 0x19270004, 0x193b0005 credit syscl</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAAA=
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAAEAACYAAAAAQUJAAAEAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable lid wake for 0x19260002 credit syscl/lighting/Yating Zhou</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				ChMDAAAABgAAAAAAAAAAAA==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				DxMDAAAABgAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable lid wake for 0x19260004 credit syscl/lighting/Yating Zhou</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				CgsDAAAHBgADAAAABAAAAA==
				</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				DwsDAAAHBgADAAAABAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable board-id check to prevent no signal (c) lvs1974, Pike R. Alpha, vit9696</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ugUAAAA=
				</data>
				<key>MatchOS</key>
				<string>10.9.3,10.9.4,10.9.5,10.10.x,10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				ugAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleGraphicsDevicePolicy (board-id) Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Ym9hcmQtaWQ=
				</data>
				<key>MatchOS</key>
				<string>10.9.3,10.9.4,10.9.5,10.10.x,10.11.x,10.12.x</string>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				Ym9hcmQtaXg=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ibPoAgAAweAMBQAQAACJgw==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				ibPoAgAAweAJBQAQAACJgw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7aMiIIAAACD+QwPhTIBAA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				D7aMiIIAAACD+QkPhTIBAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AMeDpAAAAAAQAABIi0gISA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AMeDpAAAAAACAABIi0gISA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYnGTYX2dGFBwecMSWP/vg==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYnGTYX2dGFBwecJSWP/vg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hv8PAABIwegMD7cPgeH/Dw==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hv8PAABIwegJD7cPgeH/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icGB4f8PAABIAdFIgfn/DwAAdzs=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				icGB4f8BAABIAdFIgfn/AQAAdzs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYHF/w8AAEnB7QxJiwQkSA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYHF/w8AAEnB7QlJiwQkSA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAAQAABJKfQ=
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAACAABJKfQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AABJiY4iAQAAugAQAABIKQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AABJiY4iAQAAugACAABIKQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yAAAAEkp17gAEAAATYskJA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				yAAAAEkp17gAAgAATYskJA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4b+AQBUGTYnWugAQAABFMQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				4b+AQBUGTYnWugACAABFMQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iWTY+EmBxAAQAABJgccA8A==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				iWTY+EmBxAACAABJgccA8A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Bf8PAABIwegMZvfB/w8PlQ==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				Bf8PAABIwegJZvfB/w8PlQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weIIQQ+2wcHgDEQJ0EQJwA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				weIIQQ+2wcHgCUQJ0EQJwA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17 (Sierra)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RYTJD5XAD7bAweAMRAnYRA==
				</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				RYTJD5XAD7bAweAJRAnYRA==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM183.88Z.0151.B00.1708080034</string>
		<key>Board-ID</key>
		<string>Mac-BE088AF8C5EB4FA2</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02704101GUF2FR1H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac18,3</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE136</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac18,3</string>
		<key>SerialNumber</key>
		<string>C02T52H0J1GJ</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>1920x1080.png</string>
			<key>Sharp</key>
			<string>0xFF</string>
			<key>Type</key>
			<string>Crop</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string>banner.png</string>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<true/>
			<key>Functions</key>
			<true/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>Revision</key>
			<false/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF80</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2013</string>
</dict>
</plist>
